/*底部信息区域 */
.layui-footer {
    text-align: center;
    font-size: 12px;
  }


  
/* 图标模快 */
  .iconfont {
    margin-right: 8px;
  }
  
  .layui-icon {
    margin-right: 8px;
    margin-left: 20px;
  }