/* -----------body------------ */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url(/assets/images/login_bg.jpg) no-repeat center center/cover;
}
/* -----------body------------ */

/* -----------登录注册区域------------ */
.loginAndRegBox {
  width: 400px;
  height: 310px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* 登录标题 */
.loginAndRegBox .title-box {
  height: 60px;
  background: url(/assets/images/login_title.png) no-repeat center;
}

/* 注册按钮 */
.reg-box {
    display: none;
  }
/* 登录表单美化 */
  .layui-form {
    padding: 0 30px;
  }
/* “去注册页面” 按钮美化 */
  .link {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
  }
/* 美化登录框密码框 */
.layui-form-item {
    position: relative;
  }
  /* 给小图标加子绝父相 */
  .layui-icon {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  /* 给Input加个padding值，让placeholder往右挤 */
  .layui-input {
    padding-left: 32px;
  }
/* -----------登录注册区域------------ */
